.title {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0px;
}
.subtitle {
  font-weight: 400;
  font-size: 1.4rem;
}
.is-light {
  font-weight: 300;
}
small {
  font-size: 0.8rem;
}
a {
  color: $text;
}
p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 28px;
  font-weight: 300;
}
